<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">

    <link rel = "stylesheet" href = "{% static 'CSS\carousel.css' %}" media = "screen">
    <link rel = "stylesheet" href = "{% static 'CSS\carousel.rtl.css' %}" media = "screen">
    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "{% static 'CSS\bootstrap.min.css' %}" media = "screen">
    <link rel = "stylesheet" href = "{% static 'CSS\offcanvas.css' %}" media = "screen">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ">
          <div style="margin-left : 200px;">
            <a href="http://127.0.0.1/">
              <img src="{% static '/logo/CS_logo_white.png' %}" alt="Main page" width = "185" height="60" />
            </a>
          </div>
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: auto; margin-right:200px;" >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-lg-auto">
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1/aboutclub">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1/aboutclub">About Club</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1/projects">Projects</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1/members">Members</a></li>
            </ul>
          </div> 
        </nav>
      </header>

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" >
    <img class="me-3" src="{% static '/logo/CS_logo_white_thin.png' %}" alt="" width="300" height="50">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">SSI CS Club</h1>
      <small>Since 2021</small>
    </div>
  </div>

<div class="my-3 p-3 bg-body rounded shadow-sm" style = "height: auto;">
    <h5 class="border-bottom pb-2 mb-0"><b>Members</b></h6>
    <div class="d-flex text-muted pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Jaeun.jpg' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class=" text-gray-dark">@Jaeun Shin</strong><small><small>&nbsp; Team 1 Leader</small></small>
        </p>
    </div>
    <div class="d-flex text-muted pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Jaehan.png' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class=" text-gray-dark">@Jaehan Kim</strong><small><small>&nbsp; Team 2 Leader</small></small>
        
    </p>
    </div>
    <div class="d-flex text-muted pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Jaeho.jpg' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="text-gray-dark">@Jaeho Ahn</strong><small><small>&nbsp; Team 3 Leader</small></small>
        </p>
        
    </div>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Minseok.png' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@Minseok Kim</strong>
        </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Yuntae.jpg' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@Yuntae Seo</strong>
        </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Chanseo.jpg' %}">

        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@Chanseo Lee</strong>
        </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Seungjun.jpg' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@Seungjun Hyun</strong>
        </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="100" src="{% static '/images/Sungju.jpg' %}">
        <p class="pb-3 mb-0 lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@Sungju Park</strong>
        </p>
    </div>
</div>
  
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; SSI(Seoul Scholoars International) CS Club &middot; Jaehan Kim</p>
  </footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="offcanvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
</html>